@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

.header {
  font-family: "Fjalla One", sans-serif;
  background-color: cornflowerblue;
  h1 {
    font-size: 2rem;
  }
}
